<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yearly Heatmap Overview</title>
    <link rel="stylesheet" href="heatmap_style.css">
</head>
<body>
    <svg id="heatmap"></svg>
    <div id="video-tooltip" class="video-tooltip">
        <video id="tooltip-video" controls>
            <source src="sample.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
        <div class="tooltip-text">
            <strong id="tooltip-date"></strong>
            <span id="tooltip-value"></span>
        </div>
    </div>

    <script src="../../lib/d3.v7.min.js"></script>
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src ="heatmap.js"></script>
</body>
</html>