<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yearly Heatmap Overview</title>
    <link rel="stylesheet" href="heatmap_style.css">
</head>
<body>
    <div class="nav-container">
        <button class="nav-button" id="prev-year">&lt;</button>
        <div class="year-display" id="year-display">2023</div>
        <button class="nav-button" id="next-year">&gt;</button>
    </div>
    <svg id="heatmap"></svg>
    <div id="tooltip" class="tooltip" style="display: none;"></div>

    <script src="../../lib/d3.v7.min.js"></script>
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="heatmap.js"></script>
</body>
</html>